@import "icons/icons";

:root {
    --facets-js-icon-height: .75rem;
    --facets-js-min-height: 1.5rem;
    --facets-js-border-radius: .25rem;
    --facets-js-dropdown-bg: #fff;
    --facets-js-dropdown-border: 1px solid #333;
    --facets-js-bg: #fff;
}

i[class^="facets-ico-"]:before, i[class*=" facets-ico-"]:before {
    font-size: var(--facets-js-icon-height);
}

.facets-js-wrapper {
    min-height: var(--facets-js-min-height);
    background: var(--facets-js-bg);

    .facets-js-dropdown {
        position: absolute;
        background: var(--facets-js-dropdown-bg);
        border-radius: var(--facets-js-border-radius);
        border: var(--facets-js-dropdown-border);
    }

    .facets-js-hide {
        display: none;
    }

    &:active, &:focus, &:focus-within {
        outline: auto 2px Highlight;
        outline: auto 5px -webkit-focus-ring-color;
    }

    > input[type=text] {
        &, &:active, &:focus, &:hover {
            outline: 0;
        }
    }

    .new-filter-btn {
        text-decoration: none;
    }

    .filter-container {
        input[type=text] {
            min-width: 4.75rem;
        }

        > .filter-label {
            white-space: nowrap;
        }
    }
}
